<%- include('partials/layout', { pageTitle: 'About Me' }) %>
<section id="about" class="section-about">
    <h1>About Me</h1>
    <img src="/images/student-photo.jpg" alt="Ayesha Haider" class="profile-pic" width="200" height="200">
    <p>I’m currently in my 3rd year in the Networking and IT Security program at Ontario Tech University...</p>
    <p>Here’s a photo of my cat:</p>
    <img src="/images/cat.png" alt="Photo of my cat" width="640" height="360">
</section>