<%- include('layout', { pageTitle: 'Home' }) %>
<section id="home" class="section-home">
    <h1>Welcome to My Portfolio</h1>
    <p>Hello, I am <strong>Ayesha Haider</strong>, and I am an aspiring Network Engineer. I enjoy learning about networks and designing them efficiently.</p>
</section>

